header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #9b9999;
  padding: 0 10vw;
  border-bottom: 5px solid rgba(110, 126, 233, 0.73);
}
header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  height: 80%;
}
header figure p {
  display: inline;
  margin-left: 15px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
  letter-spacing: 3px;
}
header nav {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}
header nav ul {
  font-size: 16px;
  font-family: monospace;
  letter-spacing: 2px;
  margin: 0;
  list-style: none;
  display: flex;
}
header nav ul li:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}
header nav ul li {
  margin-left: 20px;
}
header nav form {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid white;
}
header nav form img {
  height: 90%;
}
header nav form input {
  color: white;
  width: 80%;
  height: 70%;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: transparent;
}
header nav form input::placeholder {
  color: white;
  font-family: monospace;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 10vh 82vh 8vh;
  grid-template-areas: "header header" "main section" "footer footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
section {
  grid-area: section;
}
footer {
  grid-area: footer;
}
footer {
  background-color: #9b9999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10vw;
}
footer ul {
  margin: 0;
  height: 70%;
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
footer ul li {
  margin-right: 20px;
  letter-spacing: 3px;
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
footer ul li:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}
main {
  background-color: #eceff1;
  padding: 10vh 8vw 10vh 20vw;
}
main p:nth-of-type(1) {
  font-size: 27px;
  font-family: monospace;
  color: #161010;
}
main p:nth-of-type(2) {
  letter-spacing: 2px;
  line-height: 22px;
  font-size: 18px;
}
.button-container {
  width: 200px;
  height: 30px;
  border: 1px solid #429fbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.button-container:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button-container img {
  width: 15%;
  height: 95%;
}
main button {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: none;
}
main button:hover {
  cursor: pointer;
}
section {
  background-color: #eceff1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section img {
  margin-left: 5%;
  width: 50%;
  height: 70%;
  border-radius: 12px;
}
